<div id="hero">
    <section id="filters">
      <form>
        <div id="filter-inputs">
          <div class="filter-select">
            <select>
              <option value="">Todos</option>
              <option value="casa">Casa</option>
              <option value="apartamento">Apartamento</option>
              <option value="apartaestudio">Apartaestudio</option>
            </select>
          </div>
          <div class="filter-select">
            <select>
              <option value="">Todos</option>
              <option value="villa-bella">Villa Bella</option>
              <option value="villa-marbella">Villa Marbella</option>
              <option value="las-malvinas">Las Malvinas</option>
            </select>
          </div>
          <div class="filter-number">
            <input type="number" placeholder="$ mínimo" min="0" />
          </div>
          <div class="filter-number">
            <input type="number" placeholder="$ máximo" min="0" />
          </div>
          <div class="filter-check">
            <input type="checkbox" id="cupoCompleto" />
            <label for="cupoCompleto">Cupo completo</label>
          </div>
          <div class="filter-check">
            <input type="checkbox" id="ambienteFamiliar" />
            <label for="ambienteFamiliar">Ambiente familiar</label>
          </div>
          <div class="filter-check">
            <input type="checkbox" id="individual" />
            <label for="individual">Individual</label>
          </div>
          <div class="filter-check">
            <input type="checkbox" id="aire" />
            <label for="aire">Aire acondicionado</label>
          </div>
        </div>
  
        <div id="filter-btn">
          <button type="submit">Buscar</button>
          <button type="reset">Restablecer filtros</button>
        </div>
      </form>
    </section>
  
  <section id="pensiones">
    <div *ngFor="let pension of pensiones" class="pension-card">
      <div class="pension-image-container">
        <i class="bi bi-arrow-left-short flecha izquierda"></i>
        <img [src]="imagen" alt="Imagen de pensión" class="pension-image" />
        <i class="bi bi-arrow-right-short flecha derecha"></i>
      </div>
      <h3 class="pension-tipo">{{ pension.descripcion}}</h3>
      <p class="pension-precio">{{ pension.direccion }}</p>
      <div class="pension-iconos">
        <i (click)="abrirModal(pension.id)" class="bi bi-calendar" title="Agenda tu reserva"> </i>
        <i class="bi bi-geo-alt" title="Ubicación"></i>
        <i class="bi bi-bookmark" title="Guardados"></i>
        <i class="bi bi-info-circle" title="Favoritos"></i>
        <i class="bi bi-star" title="Valoración"></i>
      </div>
   </div>
 </section>
  <div class="modal" [class.show]="mostrarModal">
    <div class="modal-content">
      <h3>Reservar cuartos</h3>

      <label>Fecha inicio:</label>
      <input type="date" [(ngModel)]="fechaInicio">

      <label>Fecha fin:</label>
      <input type="date" [(ngModel)]="fechaFin">

      <label>Cantidad de pensionados:</label>
      <input type="number" [(ngModel)]="cantidadPensionados" min="0">

      <div *ngIf="cuartos.length > 0">
        <h4 id="cuartos-dispnibles">Cuartos disponibles:</h4>
        <ul>
          <li *ngFor="let cuarto of cuartos">{{ cuarto.getDescripcion() }} <button (click)="reservar(cuarto.getId())" type="submit">Reservar</button> </li>
        </ul>
      </div>

      <button (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>
  <div id="paginacion">
    <div><a href="#" class="pag-prev"><i class="bi bi-arrow-left-short"></i></a></div>
      <div class="pagina-numeros">
        <span>1</span>
        <span class="pagina-activa">2</span>
        <span>3</span>
        <span>...</span>
        <span>10</span>
      </div>
      <div><a href="#" class="pag-sig"><i class="bi bi-arrow-right-short"></i></a></div>
    </div>
</div> 