 <header>
    <nav class="navbar">
      <div class="logo">
        <a routerLink="/home">
          <img src="/assets/icon128px.png" alt="Logo Click2Book" id="icon" />
          <span>Click2Book</span>
        </a>
      </div>
      <ul class="nav-links">
        <li><a routerLink="/home"><i class="bi bi-house"></i> Home</a></li>
        <li><a routerLink="/pensiones"><i class="bi bi-building"></i> Pensiones</a></li>
        <li><a href="#"><i class="bi bi-bookmark-check"></i> Guardados</a></li>
        <li><a href="#"><i class="bi bi-wrench"></i> Ayuda</a></li>
        <li><a routerLink="/login"><i class="bi bi-person-circle"></i></a></li>
      </ul>
    </nav>
 </header>
  
  <main>
    <section class="hero">
      <h1>Tu hogar ideal por temporada, sin complicaciones</h1>
      <p>Encuentra, reserva y disfruta con total facilidad</p>
      <button id="btn-registro" routerLink="/registro">Regístrate gratis</button>
  
      <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a></p>
    </section>
  
    <section class="top-rated">
      <h2>Mejores Calificadas</h2>
      <div class="pension-list"></div>
    </section>
  
    <section class="motivos">
      <h3>Más motivos para unirse</h3>
      <div class="motivo">
        <p><strong>Encuentra alojamiento sin complicaciones</strong><br />
          Olvídate de las búsquedas interminables y encuentra el espacio ideal en minutos.
        </p>
      </div>
      <div class="motivo">
        <p><strong>Reservas 100% online, seguras y rápidas</strong><br />
          Todo el proceso es digital, transparente y eficiente.
        </p>
      </div>
      <div class="motivo">
        <p><strong>Pensado para estudiantes y trabajadores foráneos</strong><br />
          Si vienes a Santa Marta por estudios o trabajo, nuestra plataforma te conecta con arrendadores confiables.
        </p>
      </div>
      <div class="motivo">
        <p><strong>Conexión directa con arrendadores</strong><br />
          Evita comisiones excesivas y conoce los términos del arriendo de antemano.
        </p>
      </div>
    </section>
  
    <section class="faq">
      <h4>Preguntas Frecuentes</h4>
    </section>
  </main>
  
  <footer>
    <p>&copy; 2025 - Todos los derechos reservados</p>
  </footer>
  